body{
    margin: 0px;
    padding: 0px;
    border: 0;
}
#header{
    width: 100%;
}
#menu ul li {
    list-style: none;
    display: inline-block;
}

#menu ul li:hover {
    border-bottom: 2px solid #00bac6;
}

#menu ul li a:hover {
    color: #00bac6;
}

#menu ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}
button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/*Section do Index*/
/*Slides*/
.slidershow {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.navegacao {
    position: absolute;
    bottom: 10%;
    left: 48%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

.slides input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
     height: 450px; 
    /* height: 22px; */
}


#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

/* Noticias Home  */
#noticias{
    padding: 10px;
}
#noticias img{
    padding: 20px;
    overflow: hidden;
}
#noticias h1{
    background-color: brown;
    width: 10%;
 text-align: center;
 color: white;
 margin-left: 20px;
}
table{
    cursor: pointer;
}
/*Pedir Musicas*/

@keyframes modal {
    form {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.modal-container.mostrar {
    display: flex;
}


.fechar {
    position: absolute;
    font-size: 1.6em;
    top: -30px;
    /* right: 20%; */
   left: 290px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    cursor: pointer;
    font-family: monospace;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.modal {
    background-color: white;
    width: 1%;
    min-width: 190px;
    padding: 60px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-image: radial-gradient(red, yellow);

}
.modal input{
    margin: 10px;
}
.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    /*sempre por cima de todo o site*/
    display: none;
    justify-content: center;
    align-items: center;
}


.email{
    width: 40px;
    height: 4px;
    position: relative;
    right: 30%;
    top: 50%;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 0.5s ease-in-out;
    float: right;
    cursor: pointer;
}
.email::before,
.email::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.email::before{
    transform: translateY(-12px);
}
.email::after{
    transform: translateY(12px);
}

/*Programação*/
ul li {
    list-style: none;
}
/*Equipe*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

    @media screen and (max-width: 500px) {
        .column {
          width: 100%;
        }
   }
/*Galeria*/
.colunafotos{
    float: left;
    width: 30.33%;
    padding: 20px;
}
.colunafotos img{
    width: 300px;
}
.colunafotos p{
    width: 300px;
    text-align: center;
    color: black;
}
.colunafotos ul li a{
   text-decoration: none;
}
/*Videos*/
.colunavideos{
    float: left;
    width: 20.33%;
    padding: 20px;
}

.colunavideos img{
    width: 160px;
}
.colunavideos p{
    width: 170px;
    text-align: center;
    color: black;
}
.colunavideos ul li a{
   text-decoration: none;
}

/* Programacao2 */
.nav-tabs {
    width: 1100px;
    height: 500px;
    margin: 100px auto;
    background-color: #fff;
    position: relative;
}

.nav-tabs ul li {
    float: left;
}

.nav-tabs label {
    width: 100px;
    padding: 25px;
    background-color: #a17386;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

/*Mudança de cor da lebel quando o radio está checando*/
.rd_tabs:checked~label {
    background-color: #e54e43;
}


.rd_tabs {
    display: none;
}


.content {
    
    background-color: #fff;
    display: none;
    position: absolute;
    height: 200px;
    width: 1000px;
    left: 0;

}

.rd_tabs:checked~.content {
    display: block;
}

.content article {
    padding: 10px;
}

.content img {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    float: left;
    width:300px;
    height:220px
}

.content ul li a span {
    display: block;
    color: white;
    position: absolute;
    margin: 150px;
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
}



/*Fotos Ver*/

#imagens {
    width: 300px;
    height: 100px;
    overflow: hidden;
    margin: 25px;
}

.img_pequeno {
    height: 100%;
    cursor: pointer;
    transition: all linear 0.5s;
}

.img_pequeno:hover {
    /*ficar pequeno*/
    transform: scale(1.1);
}

#div_imagem {
    display: flex;
    /* justify-content: ce; */
    flex-wrap: wrap;
    /*ir com a pagina*/
}

#modal_img {
    width: 80vh;
    transform: scale(0);
    transition: all linear 0.3s;

}

.modal_active #modal_img {
    transform: scale(1);
}

.modal2 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    /*para não aparecer em cima da imgame maior*/
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#btn_close {
    color: #fff;
    background-color: black;
    position: absolute;
    top: 40px;
    right: 90px;
    padding: 5px 10px;
    font-size: 25px;
    border: solid 1px #fff;
    transition: all ease-out 0.4s;
    cursor: pointer;
}

#btn_close:hover {
    background-color: brown;
}

.modal_active {
    visibility: visible;
    opacity: 1;
}

.div_imagem p {
    margin: 1;
}

/* Contado */
#contato{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
    padding: 20px;
}
#contato h2{
    color: #000000;
}

#contato form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
}
#contato input{
    padding: 4px;
}
#contato button{
    background-color: #E5E5E5;
    background-image: linear-gradient(top, #FFF, #e5e5e5);
    border-radius: 3px;
    color: #000;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #aaa;
    cursor: pointer;
}


#contato button:hover {
    background-color: #285582;
    background-image: linear-gradient(top, #3775B3, #285582);
    border-color: #204569;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #3775B3;
}

#contato button:active {
    background-color: #204569;
    background-image: none;
    border-color: #1A3754;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
}
/* Login    Novo */

.containerlogin form {
    font-size: 0.8em;
    padding: 20px;
}

.containerlogin label {
    display: block;
    /*pode tudo para baixo*/
    font-weight: bold;
}

.containerlogin input {
    border: 1px solid #2778;
    box-shadow: inset 2px 2px 2px #EEE;
    font-size: 0.9em;
    padding: 5px 5px;
    text-indent: 3px;
    outline: 0;
}
.containerlogin img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
    border-radius: 5px;
    border: 1px solid #eee;
    position: absolute;
    height: 100%; 
    width: 100%; 
   
}

.card section {
    background-color: #FFF;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}

.signup {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card {
    border-radius: 5px;
    border: 2px solid #621;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
}

.containerlogin {
    height: 300px;
    perspective: 500px;
    position: absolute;
    width: 300px;
    top: 20%;
    left: 40%;
    transform: translate(-10%,-10%);
}

#login-container input:focus{
    outline: none;
}
#login-container a,label{
    font-size: .8rem;/*16 *.8=x Usuarios de dispositivos*/
}
/* conatiner login */
#login-container{
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius:10px ;
    text-align: center;
}

#login-container form{
    margin-top: 30px;
    margin-bottom: 40px
}


#login-container label{
    font-weight: bold;
}
#login-container input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

#login-container input:focus{
    border-bottom: 2px solid #5F9EA0;
}
#esqueceu{
    text-align: right;
    display: block;
}
#login-container input[type="submit"]{
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    color: #fff;
    background-color: #085588;
    cursor: pointer;
    width: 70px;
    text-align: center;
}
#login-container input[type="submit"]:hover{
    background-color: #1a6f7e;
    transition: .5s;
}
#registrarcontainer {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    color: #fff;
    background-color: #085588;
    cursor: pointer;
}
#registrarcontainer a{
    color: white;
    text-decoration: none;
    background-position: center;
    position: relative;
    top: 25%;
}


#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 30px; */
    background-color: #0297e5;
}
#footer h2,p{
    color: white;
}
#footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#footer img{
    width: 40%;
}
#footer div ul li {
    padding: 12px;
   
}
#footer div ul li:hover{
    text-decoration: underline;
}
#footer div ul li a {
    text-decoration: none;
    font-size: 16px; 
    color: white;
}

#sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}
#sobrenos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#sobrenos img{
    width: 85%;
    border-radius: 30px;
}

#sobrenos p{
    float: left;
    color: black;
}

@media screen and (min-width:768px){
    
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2,#contato p,#contato form{
        width: 100%;
    }
    #contato input{
        width: 180px;
    }
    #footer{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        /* max-width: 1000px; */
        /* margin: 0 auto; */
      
    }
    #footer h2,p{
        text-align: center;
        width: 100%;
    }
    #footer div{
        flex-grow: 1;
        flex-basis: 150px;
        /* padding: 0 10px; */
    }
    #footer img{
        width: 20%;
        /* max-width: 800px; */
    }
    #sobrenos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
      
    }
    #sobrenos h2,p{
        text-align: center;
        width: 100%;
    }
    #sobrenos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #sobrenos img{
        width: 85%;
        /* max-width: 800px; */
    }
}
